$color-background: #F8F8F8; // DEFAULT BACKGROUND
$color-main: #B91A1F; // OVERLAY COLOR
$color-link: #FFF; // DEFAULT LINK COLOUR

$main-red: #d12b32; // MAIN RED FOR BUTTONS

/*
 * sets html font 
 * and text alignment
 */
html {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

/*
 * defines the row class
 * and makes content full screen
 */
.row {
	width: 100%;
	margin: 0 auto;
}

/*
 * defines what happens 
 * after the row class
 * with no floating elements
 */
.row:after {
	content: '';
	display: table;
	clear: both;
}

/*
 * defines the column class
 * and makes content float left
 * width and height includes
 * content padding and border
 */
.column {
	float: left;
	box-sizing: border-box;
}

/*
 * defines the body tag
 * adds padding to the bottom
 * and default background
 */
body {
	margin: 0;
	background: $color-background;
	padding-bottom: 3.3em;
}


/************** Header **************/
/*
 * defines the header tag
 * gives background color, margin,
 * padding with red font that stretches accross the screen
 */
header {
	background-color: #1b1b1b;
	margin-bottom: 1em !important;
	padding: 0 !important;
	color: $main-red;
	width: 100%;
}

h1 {
  	margin: 0;
  	padding: 10px 0;
  	font-family: 'Doppio One';
}

header h1 a {
	text-decoration: none;
	color: $main-red;
}


/************** Navigation **************/

/*
 * Fixes nave to the botto of the page
 * and aligns it in-front of other content
 */
nav {
	position: fixed;
	bottom: 0;
	z-index: 100;
    overflow: hidden;
}
/*
 * defines the button tag in the nav
 * to display in a sinlge line, their background
 * ,padding font colour margin and border
 */
nav button {
    float: left;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    text-align: center;
    background-color: #333;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    border-right: 1px solid #666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

}
/*
 * disables blue focus around buttons
 */
button:focus {
	outline: 0;
}
/*
 * bacground color of button when active
 */
.navActive {
	background-color: #B91A1F;
}
/*
 * no border on final button
 */
.end {
	border: none;
}


/******** Navigation Overlay ********/
// based on
// https://codepen.io/PaulVanO/pen/XJYGNQ
// Paul van Oijen

/*
 * container spans the height and
 * width of the page and aligns text
 * center and 40% from the top.
 *
 * Font size and link text
 * is defined
 */
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;

  p {
    font-size: 20px;
  }
  
  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $color-main;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
    
	/*
	 * defines what happens 
	 * after button has been clicked
	 * and how container transitions into display
	 */
    &:after {
      content: '';
      position: absolute;
      background: $color-main;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }

    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
}

/*
 * Overlay initially hidden
 * background set and z-index set
 * to be under navigation bar
 * transition speed also set
 */
.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s;
  overflow: hidden;
  z-index: 99;
  
 /*
  * Once open, height and opacity set  
  * made vissible and text animation set
  */
  &.open {
    opacity: .98;
    visibility: visible;
    height: 100%;
    
    li, h1.navtitle, p, a.exit {
      animation: fadeInRight .35s ease forwards;
    }
  }

 /*
  * Overlay content set to the top of the page
  * with each layer being set reletive to their
  * normal position
  * Animation is added to text and background.
  * Other text and border properties added.
  */
  section {
    position: relative;
    height: 50%;
    top: 35%;
    transform: translateY(-55%);
    font-size: 20px;
    text-align: center;
  }
  h1.navtitle, a.exit {
  	color: white;
  	font-size: 2.5em;
  	padding: .3em 0;
    position: relative;
    text-decoration: none;
  }
  a.exit:visited {
  	text-decoration: none;
  }
  p {
  	position: relative;
  	color: white;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    
    li {
      display: block;
      position: relative;
      opacity: 0;
      border-top: 2px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-bottom: 2px solid white;
      
      a {
      	padding: 1em 0;
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
      }
    }
  }
}
/*
 * text fades in from right
 * (for safari)
 */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*
 * text fades in from right
 */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*
 * Main content and footer
 * maximum width set at 900px
 * and centered
 */
main {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

/******** Main ********/
main p {
	margin: 1em
}

main h2 {
	margin: 0 1em;
  	padding: 10px 0;
  	font-family: 'Doppio One';
	color: $main-red; 
}

/******** Image ********/

/*
 * defines how the image acts
 * including the height width and margin
 */
img {
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
	min-width: 20px;
	overflow: hidden; 
}



/******** Responsive Media Queries ********/

[class*="small-"] {
	width: 100%;
}
/* 
 * Used in viewports from 0px
 * mobile
 */
@media only screen and (min-width: 0px) {
	.small-1 {
		width: 8.333%;
	}
	.small-2 {
		width: 16.666%;
	}
	.small-3 {
		width: 25%;
	}
	.small-4 {
		width: 33.333%;
	}
	.small-5 {
		width: 41.666%;
	}
	.small-5-5 {
		width: 49.555%;
	}
	.small-6 {
		width: 50%;
	}
	.small-7 {
		width: 58.333%;
	}
	.small-8 {
		width: 66.666%;
	}
	.small-8-left {
		width: 66.666%;
	}
	.small-9 {
		width: 75%;
	}
	.small-10 {
		width: 83.333%;
	}
	.small-11 {
		width: 91.666%;
	}
	.small-12 {
		width: 100%;
	}
	.small-hidden {
		display: none;
	}
	.right {
		float: right;
	}
}

/* 
 * Used in viewports from 738px
 * (desktop)
 */
@media only screen and (min-width: 738px) {
	.large-1 {
		width: 8.333%;
	}
	.large-2 {
		width: 16.666%;
	}
	.large-3 {
		width: 25%;
		display: block;
	}
	.large-4 {
		width: 33.333%;
		display: block;
	}
	.large-5 {
		width: 41.666%;
	}
	.large-5-5 {
		width: 49.555%;
	}
	.large-6 {
		width: 50%;
	}
	.large-7 {
		width: 58.333%;
	}
	.large-8 {
		width: 66.666%;
	}
	.large-8-left {
		width: 66.666%;
	}
	.large-9 {
		width: 75%;
	}
	.large-10 {
		width: 83.333%;
	}
	.large-11 {
		width: 91.666%;
		display: block;
	}
	.large-12 {
		width: 100%;
		display: block;
	}
	.large-hidden {
		display: none;
	}
	header {
		margin-bottom: 0 !important;
	}
	// Based on work from 
	// http://www.cssscript.com/create-a-multi-level-drop-down-menu-with-pure-css/
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		background-color: #333;
	}
	ul li {
		display: block;
		position: relative;
		float: left;
		background-color: #333;
	}
	li ul { 
		display: none; 
	}

	ul li a {
		display: block;
		padding: 1em;
		text-decoration: none;
		white-space: nowrap;
		color: #000;
	}
	ul li a.h {
		color: #fff
	}

	ul li a:hover { 
		background-color: #B91A1F; 
	}
	li:hover > ul {
  		display: block;
  		position: absolute;
	}

	li:hover li { 
		float: none; 
	}

	li:hover a { 
		background-color: #f9f9f9;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 1;
	}

	li:hover a.h { 
		background-color: #B91A1F;
	}

	li:hover li a:hover { 
		background-color: #f1f1f1;
	}

	.deskNav li ul li { 
		border-top: 0; 
		color: red;
	}
	ul ul ul {
		left: 100%;
  		top: 0;
	}
	ul:before, ul:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	ul:after { 
		clear: both; 
	}
	
	/* 
 	* Padding reduced to remove space at bottom of page for desktop 
 	*/
	body {
		padding-bottom: 0;
	}
	/* Navigation removed for desktop */
	nav, .overlay {
		display: none;
	}
	.deskNav {
		display: block;
	}

}

